{% extends "layout.html" %}

{% block title %}Drive{% endblock %}

{% block body %}

    <main>

        <div class="content">

            <div class="info">

                <h1>Drive</h1>
                <a href="https://drive.google.com/open?id=1-2UojfTFkokqXIRh1VjzTaOmJfmyDt4L&usp=drive_fs" class="btn">PREP Year</a>
                <a href="https://drive.google.com/open?id=1-4kyGoutAwF6pdMLZsp4xpxUWCOxZWTM&usp=drive_fs" class="btn">First Year</a>
                <a href="https://drive.google.com/open?id=1lfUeETz1_DYWrzyyQES_sDmU3nAvaj3Z&usp=drive_fs" class="btn">Second Year</a>

            </div>

        </div>

    </main>

{% endblock %}