{% extends "layout.html" %}

{% block title %}Programs{% endblock %}

{% block body %}

    <main>
        <div class="content">
            <div class="info">
                <h1>Programs</h1>
                <p>Our programs are designed to help you succeed in your career.</p>
            
            </div>
            <div class ="grid-box">
                    <div class="grid-item">
                        <a href="https://getintopc.com/softwares/development/matlab-2013-full-setup-free-download-9462226/?id=000965110085" class="btn">MATLAB R2013a (SIZE 6.1GB)</a>
                    </div>
                    <div class="grid-item">
                        <a href="https://getintopc.com/softwares/maths/matlab-r2022b-free-download-9372910/?id=001143505108" class="btn">MATLAB R2022b (SIZE 20GB)</a>
                    </div>
                    <div class="grid-item">
                        <a href="https://downloads.arduino.cc/arduino-ide/arduino-ide_latest_Windows_64bit.exe" class="btn">ARDUINO IDE (SIZE 150MB)</a>
                    </div>
                    <div class="grid-item">
                        <a href="https://getintopc.com/softwares/3d-cad/autodesk-autocad-2024-free-download-1112573/" class="btn">AutoCAD 2024 (2.54GB)</a>
                    </div>
                    <div class="grid-item">
                        <a href="https://getintopc.com/softwares/circuit-designing/ni-multisim-ultiboard-electronics-circuit-design-suite-free-download/?id=000980349819" class="btn">MULTISIM 14.2 (SIZE 880MB)</a>
                    </div>
                    <div class="grid-item">
                        <a href="https://www.mediafire.com/file/zxfh5vtxhv67729/Proteus+Professional+8.15+SP1+Build+34318.rar/file" class="btn">PROTEUS 8.15 (SIZE 670MB)</a>
                    </div>
                    <div class="grid-item">
                        <a href="https://getintopc.com/softwares/3d-cad/solidworks-2024-free-download/" class="btn">SOLIDWORKS 2024 (SIZE 15GB)</a>
                    </div>
                    <div class="grid-item">
                        <a href="https://image.easyeda.com/files/easyeda-windows-x64-6.5.46.exe" class="btn">EASYEDA (SIZE 100MB)</a>
                    </div>
                    <div class="grid-item">
                        <a href="https://getintopc.com/softwares/electrical-engineering/altium-designer-2024-free-download/" class="btn">ALTIUM DESIGNER 2024 (SIZE 3.5GB)</a>
                    </div>
            </div>
        </div>
    </main>

{% endblock %}